<div>
  <div class="pfh-block">
    <div>
      <div>
        <img class="pfh-bg"    src="https://image.api.playstation.com/pr/bam-art/230/937/6caf31c8-b873-43cc-9c91-82d8e9cc0909.jpg?w=1920&thumb=false" alt="">
        <img class="pfh-left"  src="https://image.api.playstation.com/pr/bam-art/231/906/6246f891-7458-4717-92f4-a82b30f02b13.png?w=620&thumb=false"  alt="">
        <img class="pfh-right" src="https://image.api.playstation.com/pr/bam-art/231/985/e1d0d6ac-d5df-4e60-8fbb-d6aba71ecb6e.png?w=940&thumb=false"  alt="">
      </div>
    </div>
    <div>
      <div>
        <p class="pfh-eyebrow">Summer Sale</p>
        <h1 class="pfh-h1">Save Up to 75% on PS Store</h1>
        <p class="pfh-desc">Score massive savings on PS5 games, add-ons, and subscriptions. Offer ends August&nbsp;15.</p>
      </div>
    </div>
  </div>
</div>
